.root {
    display: flex;

    .list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        gap: 8px;
    }

    .trigger {
        width: 100%;
        text-align: center;

        &[data-state="active"] {
            color: var(--c-primary-500);
        }
    }
}