.root {
    height: 8px;
    border-radius: 4px;
    background-color: var(--c-neutral-200);
    overflow: hidden;

    .bar {
        height: 100%;
        background-color: var(--c-primary-500);
        transform-origin: left center;
    }
}